@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem;
  }

  header p {
    color: #fff;
  }

  #title {
    color: #fff;
  }
  
  section {
    margin: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  #navbar {
    background-color: #333;
    padding: 10px 20px;
  }

  #navbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0%;
  }

  #navbar ul li {
    text-align: center;
    margin: 0 10px;
  } 

  #navbar ul li a {
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  #navbar ul li a:hover {
    background-color: #555;
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #222;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.3);
    margin: 0 auto;
    display: block;
  }

  #about-me {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.3);
  }

  #about-me h2 {
    text-align: center;
  }